.restoScreen{
    background-image: url("../../assets/images/Login_bg.webp");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
     height: 86vh;
    }

.loginbtn{
    position: absolute;
    left: 24%;
    top: 55%;
    
}

.signupbtn{
    position: absolute;
    width: auto;
    height: auto;
    left: 53%;
    top: 55%;
}

.logo{
    position: absolute;
    color: aliceblue;
    font: italic bold 1.2em "Fira Sans", sans-serif;
    font-size:x-large;
    left: 15%;
    top: 4%;
}

.log{
    position: absolute;
    color: aliceblue;
    font: italic bold 1.2em "Fira Sans", sans-serif;
    font-size:x-large;
    left: 35%;
    top: 4%;
}
.revert{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color:#fff ;
    color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #0056b3;
  } */
  .submitContainer{
      width: 100%;
      text-align: center;
      padding-top: 1.5rem;
  }