.main{
    /* background-color: #c0c0c0; */
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background-color: aquamarine;
    height: 10vh;
}

.name{
    position: absolute;
    font-family:cursive;
    font-size: x-large;
    left: 5%;
    top: 18%;
}

.add{
    position: absolute;
    left: 82%;
    top: 18%;
}

.card{
    margin-top: 70px;
}

.order{
    position: absolute;
    left: 75%;
    top: 18%;
}


  