.homeScreen {
  background-image: url("../../assets/images/home2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  color: aliceblue;
  font:
    italic bold 80px "Fira Sans",
    sans-serif;
}
.btns {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1600px 200px;
  background-attachment: fixed;
  z-index: 1;
  padding-inline: 10px;
}
.btns > * {
  margin-inline: 2px;
  color: aliceblue;
}
.addRestoBtn {
  margin-left: 14px;
}
